:root {
  --color1: #9e63de;
  --color2: #ca73a8;
  --color3: #faf5fc;
  --content-width: 1200px;
}

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
  color: black;
  // border: 1px solid red;
}
/*footer*/

footer {
  width: 100%;
  padding: 30px 0px;

  .container {
    max-width: var(--content-width);
    margin: auto;
    height: 100%;

    .first-row {
      display: flex;
      justify-content: center;
      width: 100%;
      gap: 15px;
     flex-wrap:wrap;

      a.underline {
        &:hover {
          text-decoration: underline;
        }
      }
    }

    .second-row {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-top: 20px;
      gap: 15px;
    }
  }
}

/*section*/

section {
 width:100%;
 padding:20px 20px;
 height: 650px ;

  .container{
  max-width: var(--content-width);
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:auto;

  .left{
    height:100%;
    width:50%;
    background: url("./img/ineer-img.png") ;
    background-repeat: no-repeat; 
     background-size: contain;
    }
     

  .right{
    height:100%;
    width:50%;
  
    display:flex;
    justify-content: center;
    align-items: center;  
    flex-direction: column;
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;


    .form-box{
 
      width: 100%;
      border: 1px solid rgba(0, 0, 0, 0.254);
      height: 100%;
      padding: 20px 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      
      img{
        margin-bottom: 30px;     
      }

      form{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;


        .input-box{
          border: 1px solid rgba(0, 0, 0, 0.254);
          height: 40px;
          position: relative;
          background: rgb(250, 250, 250);
          border-radius: 5px;



          p{
            color: grey;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 10px;
            transition: all 0.5s ease-out;
          }
          input{
            position: absolute;
            height: 100%;
            background: transparent;
            border: none;
            outline: none;
            left: 10px;
            width: 100%;
            width: calc(100% - 20px);
            transition: all 0.5s ease-out;

          }

          button{
            background: none;
            border: none;
            height: 100%;
            position: absolute;
            right: 10px;
            width: 50px;
       

            
  
          }


          &.password{

            input{
              width: 80%;
            }

          }

          &.active{
            p{
              font-size:10px;
              top: 25%;
            }
            input{
              top: 30%;
              height: calc(100% - 70px)
            }

            button{
              display: block;
            }
          }


        }


        button.login{

          margin: 8px 0px;
          width: 100%;
          padding: 8px 0px;
          border-radius: 8px;
          border: none;
          background: rgb(0, 119, 255);
          color: white;

        }

      }
      .or-box{
        width:100%;
        display: flex;
        align-items: center;
        gap:20px;

        .line{
            height: 1px;
            width: 100%;
            background-color:#dbdbdb;
        }
        p{
           opacity: 0.5;
            font-size: 13px;
            font-weight: 600;
        }
      }
       a.fb-logo{
        display:flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
        gap: 10px;
        
        p{
            color:#385185;
            font-size: 14px;
            font-weight: 600;
        }

    
       }
       .line-3{
        display: flex;
        justify-content: center;
        align-items: center;
      
       a {
        color:#385185;
        font-size: 12px;
       }

       }


    }

    .signup-box{
      border: 1px solid rgba(0, 0, 0, 0.254);
      width: 100%;
      padding: 20px 10px;
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        color:#0095f6;
       
       }

       
    }

    .app{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        flex-direction: column;
        gap: 15px;

        .images{
            display: flex;
            gap: 15px;
        }
        

       }

  }
  }

}
